<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShockDyno.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
  <appSettings>
      <!--LDS voltage percision. This is how many decimal places to round the Linear displacement sensors voltage reading to. The higher the percsision, the more risk for noise.
      example: "2" would mean 0.00 and "3" would mean 0.000-->
      <add key="LDSPERCISION" value="2"/>

      <!--These are high and low limits of the Linear displacement senseor volatage to filter out noise. The space between the HIGH and LOW creates a dead zone for noise.
      This must be set in accordence with how many decimals positons are defined above. Set as low as possible.-->
      <add key="LDSHIGH" value=".03"/>
      <add key="LDSLOW" value=".03"/>

    
      <!--Direction (bump or rebound) is determined by taking a reading of the Linear Displacement sensor, and then compairing it to its previous positon and checking if that new reading is greater or less
      than the previous reading.
      DIRECTIONSAMPLEWINDOW controls how large the sample window is as expressed in 'ticks' actual sample rate is determiend by the DAQ. Larger sample window will prevent noise (seen as the direction flipping 
      back and forth) but hurts response time. Set as low as possible.-->
      <add key="DIRECTIONSAMPLEWINDOW" value="3"/>

      <!-- Works just like the direction sample window. The larger the value, the more time there is between readings, response to speed changes decreases, and will cause inaccurate readings,
      but reduce noise. Set as low as possible.-->
      <add key="SPEEDSAMPLEWINDOW" value="5"/>

      <!--Sets how fast the dyno must be moving before it starts plotting the graph. If set too low, noise could cause a false speed reading even when the dyno is not moving. Set as low as possible.
      This is expressed in in/s-->
      <add key="MINVELOCITY" value="0.2"/>
    
      <!-- Force Averaging. Set this property to 'True' if you would like the force reading averaged over the number of ticks in the speedsamplewindow. If speedsamplewindow is set to 5, then it will 
      take 5 force readings and averge them. If your speed sample window is very lage, this may make the fore reading inaccurate. The purpose of this is to reduce noise, and to further that objective
      the max and min values of the readings are thrown out since those are most likely the noise values.-->
      <add key="FORCEAVERAGE" value="True"/>
    
      
    
    
  </appSettings>
</configuration>
